@model VidlyRedo.Models.Customer
@{
    ViewBag.Title = "ViewCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Customer</h2>

<h3>@Model.name</h3>

<ul>
    <li>Subscription: @Model.MembershipType.Name</li>

    @if (Model.dob != null)
    {
        <li>@Model.dob.ToString()</li>
    }
</ul>


